/* importing chunks*/
/* column layout styles */
/* 50/50 2 column split */
.cel-50-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-50-b {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-50-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-50-b-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-50-a-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-50-b-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  .cel-50-a img:first-child {
    margin-top: 1.4rem; }

  .cel-50-b img:first-child {
    margin-top: 1.4rem; }

  .cel-50-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-50-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-50-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-50-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-50-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-50-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-50-a h3:first-child {
    margin-top: .7rem;
    margin-bottom: 1.8rem; }

  .cel-50-b h3:first-child {
    margin-top: .7rem;
    margin-bottom: 1.8rem; }

  .cel-50-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-50-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-50-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-50-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 50/50 2 column split */
  .cel-50-a {
    float: left;
    width: 48%;
    padding: 0 1% 0 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-50-b {
    float: right;
    width: 48%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC; }

  .cel-50-a-rule {
    float: left;
    width: 48%;
    padding: 0 .75% 0 .75%;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-50-b-rule {
    float: right;
    width: 48%;
    padding: 0 .75% 0 .75%;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-50-a-box {
    float: left;
    width: 48%;
    padding: 0 .75% 0 .75%;
    border: 0.0625em solid #B8CCC7; }

  .cel-50-b-box {
    float: right;
    width: 48%;
    padding: 0 .75% 0 .75%;
    border: 0.0625em solid #B8CCC7; } }
/* end 35em media query*/
/* 60/40 2 column split */
.cel-60-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-40-b {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-60-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-40-b-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-60-a-box {
  float: left;
  width: 98%;
  padding: 0 .5%;
  border: 1px solid #B8CCC7; }

.cel-40-b-box {
  float: left;
  width: 98%;
  padding: 0 .5%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .cel-60-a img:first-child {
    margin-top: 1.4rem; }

  .cel-40-b img:first-child {
    margin-top: 1.4rem; }

  .cel-60-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-40-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-60-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-40-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-60-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-40-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-60-a h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-40-b h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-60-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-40-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-60-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-40-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 60/40 2 column split */
  .cel-60-a {
    float: left;
    width: 61%;
    padding: 0 1% 0 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-40-b {
    float: right;
    width: 35%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC; }

  .cel-60-a-rule {
    float: left;
    width: 61%;
    padding: 0 1% 0 0;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-40-b-rule {
    float: right;
    width: 35%;
    padding: 0 0 0 1%;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-60-a-box {
    float: left;
    width: 61%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-40-b-box {
    float: right;
    width: 35%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; } }
/* end media query*/
/* 40/60 2 column split */
.cel-40-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-60-b {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-40-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-60-b-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-40-a-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-60-b-box {
  float: right;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .cel-40-a img:first-child {
    margin-top: 1.4rem; }

  .cel-60-b img:first-child {
    margin-top: 1.4rem; }

  .cel-40-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-60-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-40-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-60-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-40-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-60-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-40-a h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-60-b h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-40-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-60-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-40-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-60-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 40/60 2 column split */
  .cel-40-a {
    float: left;
    width: 35%;
    padding: 0 1% 0 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-60-b {
    float: right;
    width: 61%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC; }

  .cel-40-a-rule {
    float: left;
    width: 35%;
    padding: 0 1% 0 0;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-60-b-rule {
    float: right;
    width: 61%;
    padding: 0 0 0 1%;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-40-a-box {
    float: left;
    width: 35%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-60-b-box {
    float: right;
    width: 61%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; } }
/* end media query*/
/* 75/25 2 column split */
.cel-7525-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-7525-b {
  float: right;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-7525-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-7525-b-rule {
  float: right;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-7525-a-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-7525-b-box {
  float: right;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .cel-7525-a img:first-child {
    margin-top: 1.4rem; }

  .cel-7525-b img:first-child {
    margin-top: 1.4rem; }

  .cel-7525-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-7525-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-7525-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-7525-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-7525-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-7525-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-7525-a h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-7525-b h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-7525-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-7525-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-7525-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-7525-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 75/25 2 column split */
  .cel-7525-a {
    float: left;
    width: 73%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #F7FFFC; }

  .cel-7525-b {
    float: right;
    width: 24%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #F7FFFC; }

  .cel-7525-a-rule {
    float: left;
    width: 73%;
    padding: 0 .5% 0 .5%;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-7525-b-rule {
    float: right;
    width: 24%;
    padding: 0 .5% 0 .5%;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-7525-a-box {
    float: left;
    width: 73%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-7525-b-box {
    float: right;
    width: 24%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; } }
/* end media query*/
/* 25/75 2 column split */
.cel-2575-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-2575-b {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-2575-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-2575-b-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-2575-a-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-2575-b-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .cel-2575-a img:first-child {
    margin-top: 1.4rem; }

  .cel-2575-b img:first-child {
    margin-top: 1.4rem; }

  .cel-2575-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-2575-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-2575-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-2575-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-2575-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-2575-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-2575-a h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-2575-b h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-2575-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-2575-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-2575-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-2575-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 25/75 2 column split */
  .cel-2575-a {
    float: left;
    width: 73%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC; }

  .cel-2575-b {
    float: right;
    width: 73%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC; }

  .cel-2575-a-rule {
    float: left;
    width: 24%;
    padding: 0 .5% 0 .5%;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-2575-b-rule {
    float: right;
    width: 73%;
    padding: 0 .5% 0 .5%;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-2575-a-box {
    float: left;
    width: 24%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-2575-b-box {
    float: right;
    width: 73%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; } }
/*end media query*/
/* 30/30/30 3 column split */
.cel-30-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-30-b {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-30-c {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-30-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-30-b-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC; }

.cel-30-c-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-30-a-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-30-b-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-30-c-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  .cel-30-a img:first-child {
    margin-top: 1.4rem; }

  .cel-30-b img:first-child {
    margin-top: 1.4rem; }

  .cel-30-c img:first-child {
    margin-top: 1.4rem; }

  .cel-30-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-c ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-c ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-c h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-30-a h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-30-b h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-30-c h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-30-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-30-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-30-c h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-30-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-30-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-30-c h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 30/30/30 3 column split */
  .cel-30-a {
    float: left;
    width: 48%;
    padding: 0 1% 0 0;
    border: 0.0625em solid #F7FFFC;
    margin-bottom: .4rem; }

  .cel-30-b {
    float: left;
    width: 48%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC;
    margin-bottom: .4rem; }

  .cel-30-c {
    float: right;
    width: 98%;
    padding: 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-30-a-rule {
    float: left;
    width: 48%;
    padding: 0 1% 0 0;
    margin-bottom: .4rem;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-30-b-rule {
    float: left;
    width: 48%;
    padding: 0 0 0 1%;
    margin-bottom: .4rem;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-30-c-rule {
    float: right;
    width: 98%;
    padding: 0;
    border: .0625em solid;
    border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

  .cel-30-a-box {
    float: left;
    width: 48%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7;
    margin-bottom: .4rem; }

  .cel-30-b-box {
    float: left;
    width: 48%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7;
    margin-bottom: .4rem; }

  .cel-30-c-box {
    float: right;
    width: 97%;
    padding: 0 .5% 0 .5%;
    border: 0.0625em solid #B8CCC7; } }
/* end media query*/
@media only screen and (min-width: 49.5em) {
  /* 792 pixel width */
  /* 30/30/30 3 column split */
  .cel-30-a {
    float: left;
    width: 32%;
    padding: 0 1% 0 0;
    border: 1px solid #F7FFFC; }

  .cel-30-b {
    float: left;
    width: 32%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #F7FFFC; }

  .cel-30-c {
    float: right;
    width: 32%;
    padding: 0 0 0 1%;
    border: 1px solid #F7FFFC; }

  .cel-30-a-rule {
    float: left;
    width: 32%;
    padding: 0 1% 0 0;
    border: 1px solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-30-b-rule {
    float: left;
    width: 32%;
    padding: 0 .5% 0 .5%;
    border: 1px solid;
    border-color: #F7FFFC #B8CCC7; }

  .cel-30-c-rule {
    float: right;
    width: 32%;
    padding: 0 0 0 1%;
    border: 1px solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-30-a-box {
    float: left;
    width: 32%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7; }

  .cel-30-b-box {
    float: left;
    width: 32%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7; }

  .cel-30-c-box {
    float: right;
    width: 32%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7; } }
/* 25/25/25/25 4 column split */
.cel-25-a {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-25-b {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-25-c {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-25-d {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #F7FFFC; }

.cel-25-a-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #F7FFFC #F7FFFC #B8CCC7 #F7FFFC; }

.cel-25-b-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC; }

.cel-25-c-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC; }

.cel-25-d-rule {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid;
  border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

.cel-25-a-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-25-b-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-25-c-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

.cel-25-d-box {
  float: left;
  width: 98%;
  padding: 0 1%;
  border: 1px solid #B8CCC7; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .cel-25-a img:first-child {
    margin-top: 1.4rem; }

  .cel-25-b img:first-child {
    margin-top: 1.4rem; }

  .cel-25-c img:first-child {
    margin-top: 1.4rem; }

  .cel-25-d img:first-child {
    margin-top: 1.4rem; }

  .cel-25-a ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-b ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-c ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-d ul:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-a ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-b ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-c ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-d ol:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-a h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-b h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-c h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-d h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

  .cel-25-a h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-25-b h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-25-c h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-25-d h3:first-child {
    margin-top: .65rem;
    margin-bottom: 1.85rem; }

  .cel-25-a h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-25-b h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-25-c h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-25-d h4:first-child {
    margin-top: .5rem;
    margin-bottom: 2rem; }

  .cel-25-a h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-25-b h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-25-c h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  .cel-25-d h5:first-child {
    margin-top: .4rem;
    margin-bottom: 2.1rem; }

  /* 25/25/25/25 4 column split */
  .cel-25-a {
    float: left;
    width: 48%;
    padding: 0 1% 0 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-25-b {
    float: left;
    width: 48%;
    padding: 0 0 0 1%;
    border: 0.0625em solid #F7FFFC; }

  .cel-25-c {
    float: left;
    width: 98%;
    padding: 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-25-d {
    float: left;
    right: 98%;
    padding: 0;
    border: 0.0625em solid #F7FFFC; }

  .cel-25-a-rule {
    float: left;
    width: 48%;
    padding: 0 1% 0 0;
    border: .0625em solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-25-b-rule {
    float: left;
    width: 48%;
    padding: 0 0 0 1%;
    border: .0625em solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-25-c-rule {
    float: left;
    width: 98%;
    padding: 0;
    border: .0625em solid;
    border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

  .cel-25-d-rule {
    float: left;
    right: 98%;
    padding: 0;
    border: .0625em solid;
    border-color: #B8CCC7 #F7FFFC #F7FFFC #F7FFFC; }

  .cel-25-a-box {
    float: left;
    width: 48%;
    padding: 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-25-b-box {
    float: left;
    width: 48%;
    padding: 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-25-c-box {
    float: left;
    width: 97%;
    padding: 0 .5%;
    border: 0.0625em solid #B8CCC7; }

  .cel-25-d-box {
    float: left;
    right: 97%;
    padding: 0 .5%;
    border: 0.0625em solid #B8CCC7; } }
/* end media query */
@media only screen and (min-width: 59.375em) {
  /* 950 pixels width */
  /* 25/25/25/25 4 column split */
  .cel-25-a {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #F7FFFC;
    margin-bottom: 1.5rem; }

  .cel-25-b {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #F7FFFC;
    margin-bottom: 1.5rem; }

  .cel-25-c {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #F7FFFC;
    margin-bottom: 1.5rem; }

  .cel-25-d {
    float: right;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #F7FFFC;
    margin-bottom: 1.5rem; }

  .cel-25-a-rule {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    margin-bottom: 1.5rem;
    border: 1px solid;
    border-color: #F7FFFC #B8CCC7 #F7FFFC #F7FFFC; }

  .cel-25-b-rule {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    margin-bottom: 1.5rem;
    border: 1px solid;
    border-color: #F7FFFC #B8CCC7; }

  .cel-25-c-rule {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    margin-bottom: 1.5rem;
    border: 1px solid;
    border-color: #F7FFFC #B8CCC7; }

  .cel-25-d-rule {
    float: right;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    margin-bottom: 1.5rem;
    border: 1px solid;
    border-color: #F7FFFC #F7FFFC #F7FFFC #B8CCC7; }

  .cel-25-a-box {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7;
    margin-bottom: 1.5rem; }

  .cel-25-b-box {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7;
    margin-bottom: 1.5rem; }

  .cel-25-c-box {
    float: left;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7;
    margin-bottom: 1.5rem; }

  .cel-25-d-box {
    float: right;
    width: 23.5%;
    padding: 0 .5% 0 .5%;
    border: 1px solid #B8CCC7;
    margin-bottom: 1.5rem; } }
.cel-row {
  float: left;
  width: 99%;
  margin: 0 0 1.9rem 0;
  padding: 0; }

.cel-100 {
  float: left;
  width: 100%;
  padding: 0; }

.cel-divider {
  float: left;
  width: 100%;
  height: .125em; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .cel-row {
    float: left;
    width: 99%;
    margin: 0 0 1.9rem 0;
    padding: 0; }

  .cel-100 {
    float: left;
    width: 100%;
    padding: 0; }

  .cel-divider {
    float: left;
    width: 100%;
    height: .125em; } }
/* end media Q*/
/* generic element styles html body p ul */
strong {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
  color: #090A0A; }

body {
  background-color: #B8CCC7; }

body,
p {
  font-weight: 400;
  font-family: 'Quattrocento', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #090A0A;
  word-wrap: break-word; }

img {
  max-width: 100%; }

li p {
  margin: 0 auto 0 auto; }

ul li:first-child {
  margin-top: 0;
  padding-top: 0; }

dt {
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-bottom: .5rem;
  padding-left: .25rem; }

dd {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-left: 2rem;
  padding: .25rem 1rem 1rem 0; }

img,
audio,
canvas,
video,
iframe {
  max-width: 100%; }

object {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ========================typography */
html {
  font-size: 16px; }

header h1 {
  font-size: 2.441rem;
  line-height: 3rem;
  font-weight: 300; }

/* 36pxs */
h1 {
  font-size: 2.441rem;
  line-height: 3rem;
  font-weight: 300; }

/* 36pxs */
h2 {
  font-size: 2.441rem;
  line-height: 3rem;
  font-weight: 300; }

/* 36pxs */
h3 {
  font-size: 1.953rem;
  line-height: 3rem;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
  padding-left: .25rem; }

/* 24pxs */
h4 {
  font-size: 1.563rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
  padding-left: .25rem; }

/* 21pxs */
h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
  padding-left: .25rem; }

/* 18pxs */
h6 {
  font-size: .8rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
  padding-left: .25rem; }

/* 16pxs */
p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400; }

/* 16pxs */
@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  html {
    font-size: 16px; }

  header h1 {
    font-size: 3.157rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-weight: 300; }

  /* 50.5pxs */
  h1 {
    font-size: 3.157rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-weight: 300; }

  h2 {
    font-size: 3.157rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-weight: 300; }

  /* 50.5pxs */
  h3 {
    font-size: 2.369rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-weight: 300;
    padding-left: .25rem; }

  /* 38pxs */
  h4 {
    font-size: 1.777rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-weight: 300;
    padding-left: .25rem; }

  /* 21pxs */
  h5 {
    font-size: 1.333rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    padding-left: .25rem; }

  /* 18pxs */
  h6 {
    font-size: .75rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    padding-left: .25rem; }

  /* 16pxs */
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    padding: 0; }

  /* 16pxs */
  body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400; }

  /* 16pxs */ }
/* end media query*/
/* styles that hide things + clearing styles*/
.is-invisible {
  /* as if it were never in the DOM  */
  display: none !important;
  visibility: hidden; }

.is-dormant {
  /* hidden to the naked eye, but visible to screen readers.  */
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0; }

.is-dormant.focusable:active,
.is-dormant.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.is-cleared:before,
.is-cleared:after {
  content: " ";
  display: table; }

.is-cleared:after {
  clear: both; }

/* created a golden ration sized centered column that look and acts like a traditional book */
/*
<div class="cel-60-a bookBox">
    <div class="cel-100 bookBoxBanner"><!-- optional banner image --></div>
    <!-- the main content body -->
</div>
*/
.bookBox {
  margin-left: 0;
  margin-right: 19.35% !important;
  padding: .25em; }

.bookBox p {
  padding: 0; }

.bookBoxBanner {
  /* background: url("../img/myBannerGraphic.png" ); */
  background-position: -50px 0;
  height: 250px;
  margin-bottom: 105px; }

@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  .bookBox {
    margin-left: 19.35% !important;
    margin-right: 19.35% !important;
    padding: 13em 0 10em 0; }

  .bookBox p {
    padding: 0; } }
/* end media query */
.courseIcon {
  fill: #F7FFFC;
  height: 45px;
  width: 45px;
  float: left;
  padding: 0.5rem 0 0 .5rem; }

#courseNumber {
  float: left;
  width: 98%;
  color: #F7FFFC;
  margin: 0;
  padding: .75rem 0 0 .5rem;
  font-weight: 300; }

#moduleNumber {
  float: left;
  width: 94%;
  color: #F7FFFC;
  margin: 0 0 .8rem 1rem;
  font-weight: 300; }

.module {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0; }

.moduleHeaders {
  width: 100%;
  background-color: #2F343B;
  border-bottom: 0.0625em solid #212423;
  margin-bottom: .5rem;
  -moz-box-shadow: 0px 0.125em 0.0625em #727272;
  -webkit-box-shadow: 0px 0.125em 0.0625em #727272;
  box-shadow: 0px 0.125em 0.0625em #727272; }

#theModuleHeader {
  position: relative;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: .25s; }

.TOCs {
  margin: 0 auto -50px 0;
  border-radius: .1875em;
  padding-top: 0;
  list-style-type: decimal;
  color: #B8CCC7;
  transition-property: width,right;
  transition-timing-function: ease-in-out;
  transition-duration: .1s; }

#tocClosedState {
  /* default TOC style - button state - */
  position: absolute;
  z-index: 2;
  width: 1%;
  height: 2.8125em;
  background-color: transparent;
  overflow: hidden;
  top: .25rem;
  right: 3em;
  outline: none; }

#tocOpenState {
  z-index: 200;
  width: 90%;
  padding-top: 4rem;
  padding-bottom: .75em;
  background-color: #212423;
  -moz-box-shadow: 0.15em 0.15em 0.15em #727272;
  -webkit-box-shadow: 0.15em 0.15em 0.15em #727272;
  box-shadow: 0.15em 0.15em 0.15em #727272;
  position: absolute;
  top: 0;
  right: 0;
  outline: none; }

#tocClosedState #theTocTarget {
  /* this hooks into the closed menu TOC button */
  width: 2.6em;
  height: 2.6em;
  background-image: url("../img/TOC-default.png");
  background-repeat: no-repeat;
  background-position: -1px 0, top;
  background-size: 2.5em, 2.5em;
  position: absolute;
  right: 0;
  top: 0;
  outline: none; }

#tocOpenState #theTocTarget {
  /* this controls the open state of the TOC menu button */
  background: url("../img/TOC-closeX.png") no-repeat;
  width: 80%;
  height: 2.75rem;
  background-size: 2.75rem;
  background-position: 100% 0, top;
  right: .75em;
  top: .75em;
  position: absolute;
  outline: none; }

#tocOpenState #theTocTarget:hover {
  cursor: pointer; }

#tocClosedState #theTocTarget:hover {
  cursor: pointer; }

#tocOpenState #theTocTarget::before {
  /* This renders the Table of Contents Menu Title as a CSS insertion */
  content: "Table of Contents";
  position: relative;
  left: 4rem;
  top: 2rem;
  color: #B8CCC7;
  display: inline-block;
  font-size: 2em;
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-weight: 300; }

/* these controls the fade in animation of the toc menu content.   */
#tocClosedState .TOC {
  opacity: 0; }

#tocOpenState .TOC {
  opacity: 1; }

#tocOpenState li a {
  /* The links that connect this lists to the actual slides. */
  text-decoration: none; }

#tocOpenState #slide1TOC {
  margin-top: 2.8125em; }

.TOC {
  margin-top: 0;
  margin-bottom: 1.25rem; }

.TOC h2 {
  font-weight: 300;
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  margin: 0 !important;
  color: #B8CCC7;
  font-size: 1.25rem;
  line-height: 1.5; }

.TOC h2:hover, .TOC h3:hover, .TOC h4:hover, .TOC h5:hover, .TOC h6:hover {
  background-color: yellow;
  color: #212423; }

.TOC h3 {
  font-weight: 300;
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  margin: 0 !important;
  color: #B8CCC7;
  font-size: .9375rem;
  line-height: 1.3; }

.TOC h3:before {
  content: "   "; }

.TOC h4 {
  font-weight: 300;
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  margin: 0 !important;
  color: #B8CCC7;
  font-size: .8rem;
  line-height: 1.3; }

.TOC h4:before {
  content: "   "; }

.TOC h5 {
  font-weight: 300;
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  margin: 0 !important;
  color: #B8CCC7;
  font-size: .8rem;
  line-height: 1.3; }

.TOC h5 a {
  padding-left: .9375em; }

.TOC h5:before {
  content: "   "; }

.TOC h6 {
  font-weight: 300;
  font-family: 'Oswald',Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  margin: 0 !important;
  color: #B8CCC7;
  font-size: .8rem;
  line-height: 1.3; }

.TOC h6:before {
  content: "   "; }

.audioBox {
  width: 95%;
  position: fixed;
  bottom: 6.25em;
  margin-top: -28px; }

.audioControls {
  width: 60%;
  margin: auto; }

.audioButton {
  position: fixed;
  bottom: 2.9375em;
  left: 45%;
  height: 2.75em;
  width: 2.75em;
  background: url("../img/audioButton.png") no-repeat;
  background-color: #877551;
  background-size: cover;
  border-radius: 50%;
  -moz-box-shadow: 0 0.25em 0.25em #727272;
  -webkit-box-shadow: 0 0.25em 0.25em #727272;
  box-shadow: 0 0.25em 0.25em #727272;
  -o-transition: width .5s ease-in-out, height .25s ease-in-out;
  -webkit-transition: width .5s ease-in-out, height .25s ease-in-out;
  -moz-transition: width .5s ease-in-out, height .25s ease-in-out;
  transition: width .5s ease-in-out, height .25s ease-in-out; }

#celLogo {
  float: left;
  -o-transition: width .5s, height .5s;
  -webkit-transition: width .5s, height .5s;
  -moz-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  height: 2.8125em;
  width: 2.6em;
  margin: .375em; }

.helpBox {
  background: url("../img/HELP-default.png") no-repeat;
  background-position: center;
  background-size: 2.6rem;
  background-origin: content-box;
  border-radius: .1875em;
  color: #F7FFFC;
  position: absolute;
  right: 0;
  top: .25em;
  margin-right: .25em;
  text-align: left;
  overflow: hidden;
  /* the timing for this is in the IDs that get swapped */
  transition-property: height, width;
  transition-timing-function: ease-in-out; }

#helpboxClosedState {
  width: 2.75em;
  height: 2.75em;
  background-color: #2F343B;
  z-index: 2;
  padding-bottom: .3rem;
  background-image: url(../img/HELP-default.png);
  background-position: 100% 0;
  background-size: 2.5rem;
  /* timing of height then width NOTE: this effects the closing animation */
  transition-duration: .1s, .25s, .5s; }

#helpboxOpenState {
  background-color: #212423;
  -moz-box-shadow: 0.15em 0.15em 0.15em #727272;
  -webkit-box-shadow: 0.15em 0.15em 0.15em #727272;
  box-shadow: 0.15em 0.15em 0.15em #727272;
  z-index: 200;
  padding-bottom: 1rem;
  width: 90vw;
  background-image: url(../img/HELP-closeX.png);
  background-position: 100% 0,top;
  background-size: 2.5rem;
  /* timing of height then width NOTE: this effects the opening animation*/
  transition-duration: .25s, .1s,.5s; }

#helpButton {
  width: 100%;
  height: 2.45em;
  color: #F7FFFC;
  font-weight: 700;
  padding: .7em 0 0 .9em;
  text-align: left;
  float: right; }

#helpButton:hover {
  cursor: pointer; }

#helpboxClosedState .helpContent {
  opacity: 0; }

#helpboxOpenState .helpContent {
  opacity: 1; }

.helpContent {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-weight: 300;
  font-family: 'Quattrocento', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

.helpContent p {
  width: 90%;
  margin: 0 auto;
  color: #B8CCC7; }

.helpContent p a {
  color: #B8CCC7; }

.helpContent h3 {
  font-weight: 300;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #B8CCC7; }

.slide {
  width: 100%;
  background-color: #B8CCC7; }

.activeSlide {
  opacity: 1;
  float: left;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: .625em;
  background-color: #F7FFFC;
  border-radius: .1875em;
  -moz-box-shadow: 0 0.125em 0.125em #727272;
  -webkit-box-shadow: 0 0.125em 0.125em #727272;
  box-shadow: 0 0.125em 0.125em #727272; }

.slideHeader {
  /* This is the active slide style. */
  width: 95%;
  position: relative;
  text-decoration: none; }

a.slideHeader:hover {
  cursor: auto !important; }

.slideHeader {
  width: 100%;
  color: #212423;
  text-align: left;
  border-radius: .1875em;
  font-weight: 300; }

.slideHeader .slideNumber {
  float: left;
  width: 17%;
  text-align: right;
  padding-right: 3%;
  font-weight: 300; }

.slideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid #090A0A;
  font-weight: 300; }

/* end .slideHeader h2 .slideTitle */
.futureSlideHeader {
  /* this is a slide that shows in the mobile stack, but has not been clicked on yet. */
  width: 98%;
  text-decoration: none;
  border-radius: 50%; }

.futureSlideHeader {
  font-size: 2.25em;
  width: 95%;
  color: #212423;
  text-align: center;
  padding: .625em 0;
  margin: .1875em auto;
  border-radius: .1875em;
  background-color: #F7FFFC;
  font-weight: 300; }

.futureSlideHeader .slideNumber {
  float: left;
  width: 17%;
  text-align: right;
  padding-right: 3%;
  font-weight: 300; }

.futureSlideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid #090A0A;
  font-weight: 300; }

.futureSlideHeader:hover {
  color: #F7FFFC;
  background-color: #877551; }

.pastSlideHeader {
  /* this is a slide that has been clicked on already and shows as being in the past in the mobile slide stack*/
  width: 90%;
  text-decoration: none; }

.pastSlideHeader {
  font-size: 2.25em;
  padding: 5px 10px;
  margin: 1px auto;
  text-align: center;
  background-color: #212423;
  font-weight: 300; }

.pastSlideHeader:hover {
  color: #F7FFFC;
  background-color: #877551; }

.pastSlideHeader .slideNumber {
  float: left;
  width: 20%;
  text-align: right;
  color: #F7FFFC;
  font-weight: 300; }

.pastSlideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid #B8CCC7;
  color: #F7FFFC;
  font-weight: 300; }

.activeSlide .pastSlideHeader {
  /* This is a slide that has been has been viewed once, and gone back to. I wanted this style to match the default style*/
  width: 98%;
  position: relative;
  text-decoration: none; }

.activeSlide .pastSlideHeader {
  width: 95%;
  color: #877551;
  text-align: left;
  padding: 10px 2.5%;
  margin: 3px auto;
  border-radius: 3px;
  position: relative;
  background-color: #F7FFFC;
  font-weight: 300; }

.activeSlide .pastSlideHeader .slideNumber {
  float: left;
  width: 17%;
  text-align: right;
  padding-right: 3%;
  color: #212423;
  font-weight: 300; }

.activeSlide .pastSlideHeader .slideTitle {
  float: right;
  width: 75%;
  text-align: left;
  padding-left: 3%;
  padding-right: 1%;
  word-wrap: break-word;
  border-left: 1px solid #2F343B;
  box-shadow: none;
  border-bottom: none;
  color: #212423;
  font-weight: 300; }

.activeSlide .pastSlideHeader:hover {
  color: #877551; }

.slideContent {
  padding-left: 1%; }

.slide .slideContent {
  display: none !important;
  visibility: hidden; }

.slide .slideFooter {
  display: none !important;
  visibility: hidden; }

.activeSlide .activeSlideFooter {
  border: 0;
  clip: inherit;
  height: auto;
  margin: 0 1em 0 0;
  padding: 0;
  position: inherit;
  width: 100%;
  z-index: 102; }

.activeSlide .activeSlideContent {
  border: 0;
  clip: inherit;
  height: auto;
  margin: auto;
  overflow: auto;
  padding: 2%;
  position: inherit;
  width: 90%; }

@keyframes yellowFlash {
  0% {
    background-color: yellow; }
  100% {
    background-color: #F7FFFC; } }
.activeSlide .TheFirst {
  -webkit-animation-name: yellowFlash;
  animation-name: yellowFlash;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

#mainNavList {
  display: none;
  visibility: hidden; }

button {
  border: 0; }

.nextButton {
  position: fixed;
  bottom: 44px;
  right: 22px;
  border-radius: 50%;
  margin-right: 1%;
  margin-bottom: 1%;
  color: #F7FFFC;
  font-size: 2.25em;
  background-color: #877551;
  font-family: 'Quattrocento', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  -moz-box-shadow: 0 4px 4px #727272;
  -webkit-box-shadow: 0 4px 4px #727272;
  box-shadow: 0 4px 4px #727272;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  text-decoration: none;
  text-align: center;
  line-height: 2.5rem; }

.prevButton {
  position: fixed;
  bottom: 44px;
  left: 22px;
  border-radius: 50%;
  margin-left: 1%;
  margin-bottom: 1%;
  color: #F7FFFC;
  font-family: 'Quattrocento', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 2.25em;
  background-color: #877551;
  -moz-box-shadow: 0 4px 4px #727272;
  -webkit-box-shadow: 0 4px 4px #727272;
  box-shadow: 0 4px 4px #727272;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  text-decoration: none;
  text-align: center;
  line-height: 2.5rem; }

.nextButton:hover {
  background-color: #212423;
  transition: background-color .25s ease-in-out;
  cursor: pointer; }

.prevButton:hover {
  background-color: #212423;
  transition: background-color .25s ease-in-out;
  cursor: pointer; }

.slideFooter {
  width: 100%;
  margin-bottom: 2.25em; }

.activeSlideFooter {
  width: 100%;
  margin-bottom: 2.25em; }

.navContainer {
  display: none !important;
  visibility: hidden; }

.mainFooter {
  width: 100%;
  float: left; }

#institutionalLogo {
  width: 100%; }

.figure {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }

.figure-open-state {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 102; }

.figure-closed-state {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  background: transparent;
  z-index: auto; }

.figure img {
  width: 100%;
  margin: 0 !important;
  padding: 0;
  z-index: 100; }

.figure p {
  font-style: italic;
  text-align: center;
  width: 100%;
  z-index: 100; }

.figure p::before {
  content: "Figure: ";
  font-weight: bold;
  z-index: 100; }

.fullScreenButton {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 101;
  margin-top: 0 !important; }

.fullScreenButton:hover {
  -webkit-animation-name: breathingHover;
  animation-name: breathingHover;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

/* =================> Column Layout styles */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
@media only screen and (min-width: 35em) {
  /* 560 pixel width */
  /* Column Tops must be flush regardless of what it starts with. Here I have taken care of H2-H6, Paragraphs and lists. When you use a graphic it breaks the baseline of any text located underneath it in the same column.   */
  /* ========================typography */
  /* =================> Column Layout styles */
  /* DO NOT TOUCH */
  /* DO NOT TOUCH */
  .activeSlide {
    margin-top: 3.125em;
    min-height: 100%;
    float: none;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in; }

  .slide {
    opacity: 0; }

  .activeSlide .activeSlideContent {
    padding: 1rem; }

  .activeSlide .activeSlideFooter {
    margin: 0 1em 0 0;
    padding: 0;
    position: fixed;
    width: 12.5em;
    height: 3.125em;
    bottom: 0;
    right: 0;
    z-index: 102; }

  .slide .slideFooter {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 12.5em;
    height: 3.125em;
    bottom: 0;
    right: 0; }

  .audioBox {
    position: static;
    width: 9.375em; }

  .audioButton {
    position: absolute;
    left: 40.5%;
    top: 0; }

  .nextButton {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    margin: 0;
    text-decoration: none;
    text-align: center;
    line-height: 2.5rem; }

  .prevButton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    margin: 0;
    text-decoration: none;
    text-align: center;
    line-height: 2.5rem; }

  .courseIcon {
    fill: #F7FFFC;
    height: 100px;
    width: 100px;
    float: left;
    padding: .75rem 0 0 .5rem; }

  #courseNumber {
    position: relative;
    margin-top: 1rem;
    width: 60vw;
    font-weight: 700;
    font-size: 3em;
    font-weight: 300;
    border: 0;
    padding: 0 0 0 .75rem;
    opacity: 1;
    transition-property: opacity,height;
    transition-duration: 1s,3s;
    transition-timing-function: ease-in-out; }

  #moduleNumber {
    margin-bottom: 1rem;
    position: relative;
    width: 60vw;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out; }

  #tocClosedState {
    /* default TOC style - button state - */
    right: 3em;
    /* This controls the opening timing height,width */ }

  #tocOpenState {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 4rem;
    padding-bottom: .75em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 50%;
    height: 80vh; }

  #tocOpenState #theTocTarget {
    right: 3em; }

  #tocOpenState #theTocTarget:before {
    border: 0; }

  #tocOpenState .TOC {
    width: 80%; }

  .slideHeader {
    width: 98%;
    text-decoration: none; }

  .slideHeader {
    width: 100%;
    color: #212423;
    text-align: left;
    padding: 3rem 0;
    margin: .1875em 0;
    float: left;
    font-weight: 400;
    border-radius: .1875em; }

  .futureSlideHeader {
    width: 98%;
    text-decoration: none; }

  .futureSlideHeader {
    width: 100%;
    color: #212423;
    text-align: left;
    padding: .625em 0;
    margin: .1875em auto;
    border-bottom: 0.0625em solid #212423;
    border-radius: .1875em; }

  .activeSlide .pastSlideHeader {
    background-color: transparent;
    width: 100%;
    color: #212423;
    text-align: left;
    padding: 3rem 0;
    margin: .1875em 0;
    float: left;
    font-weight: 300;
    font-size: 3.157rem;
    border-radius: .1875em; }

  .activeAudioBox {
    width: 100%; }

  /* for now...all the non-mobile styles */
  .slide {
    display: none !important;
    visibility: hidden; }

  .slide .slideContent {
    border: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: inherit;
    width: 100%; }

  .slide .slideFooter {
    border: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: inherit;
    width: 100%; }

  .mainFooter {
    height: 4.6875em;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: red; */ }

  #mainNav {
    height: 5vh;
    width: 90vw;
    margin: 0 auto;
    overflow: visible; }

  #mainNavList {
    position: relative;
    list-style: none;
    margin: 0 auto;
    width: 100%;
    height: 4.375em;
    overflow: visible;
    display: block;
    visibility: visible;
    padding: 0; }

  /* The hover effect for the nav elements. */
  @-webkit-keyframes breathingHover {
    to {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); } }
  @keyframes breathingHover {
    to {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); } }
  .navElement {
    background: url(../img/nav-sprites.png) 50% 0 no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: .75em;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale; }

  .activeNavElement {
    background: url(../img/nav-sprites.png) 50% -41px no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: 0.75em !important;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale; }

  .pastNavElement {
    background: url(../img/nav-sprites.png) 50% -135px no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: 0.75em !important;
    color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale; }

  .navElement:hover,
  .activeNavElement:hover,
  .pastNavElement:hover,
  .navElement:focus,
  .activeNavElement:focus,
  .pastNavElement:focus,
  .navElement:active,
  .activeNavElement:active,
  .pastNavElement:active {
    background: url(../img/nav-sprites.png) 50% -88px no-repeat;
    display: inline-block;
    width: 45px;
    height: 35px;
    color: #FFF;
    -webkit-animation-name: breathingHover;
    animation-name: breathingHover;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    cursor: pointer; }

  #helpboxOpenState {
    width: 40vw; }

  #helpButton {
    padding: .7em .9em 0 0;
    text-align: right;
    float: right; }

  #celLogo {
    float: left;
    margin: 0 0 0 2.25%;
    padding: 0; }

  #institutionalLogo {
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 0; } }
/* end 35em media query */
@media only screen and (min-width: 68.1875em) {
  #tocOpenState {
    width: 30%; }

  .activeSlide {
    margin-bottom: .625em;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    width: 64rem;
    float: none; }

  #mainNav {
    height: 5vh;
    width: 64rem; }

  #helpboxOpenState {
    width: 35vw; } }
@media only screen and (min-width: 92.625em) {
  /* 1482 pixels width */
  #helpboxOpenState {
    width: 25vw; } }

/*# sourceMappingURL=style.css.map */
